body {
    font-family: "Varela Round";
    text-align: center;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    font-family: "Varela Round";
  /*
    background: #e8a5a0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  */
    padding: 30px;
    width: 350px;
    text-align: center;
    color: #ff4d6d;
}

h1 {
    font-size: 24px;
}

.buttons {
    margin-top: 20px;
    display: flex;      
    justify-content: center; 
    gap: 20px;             
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.yes {
    background-color: #ff4d6d;
    color: white;
}

.yes:hover {
    background-color: #ff3366;
}

.no {
    background-color: #ff3366;
    color: white;
}

no:hover {
    background-color: #ff3366;
}

#response1 {
    font-size: 35px;
    margin-top: 15px;
    color: #ff4d6d;
    font-weight: bold;
}

#response {
    font-size: 20px;
    margin-top: 15px;
    color: #ff4d6d;
    font-weight: bold;
}

#doggy {
    width: 350px;
    height: 350px;
    text-align: center;
}

#noButton {
    transition: left 0.3s ease, top 0.3s ease;
}

@keyframes heartAnimation {
  0% {
    transform: scale(0) translateY(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5) translateY(-150px);
    opacity: 1;
  }
  100% {
    transform: scale(0) translateY(-300px);
    opacity: 0;
  }
}

.heart {
  position: absolute;
  font-size: 30px;
  color: red;
  animation: heartAnimation 3s forwards;
}

@keyframes heartPulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
